
<% if current_user %> 
  <p1>You are Logged In as, <%= current_user.first_name %></p1>
  <%= link_to "Log Out", logout_path %>
<ul>
  <li>
    <%= @user.first_name %><br>
    <% if @user.profile_photo.present? %>
    <%= image_tag @user.profile_photo %>
    <% end %>
    </li>
    <li>
    <%= @user.last_name %><br>
    </li>
    <li>
    <%= @user.company %>
  </li>
</ul>
  <% else %>

  <%= link_to "Login", login_path %>
  <%= link_to "Sign Up", '/users/new', method: :get %>
<%end%>

<div class="container my-grid">
<%= form_with(model: @user, id:"registration-form") do |f| %>
  <div class="row my">
    <div class="col-md-6 my-grid">
    <h1 class="profile-title">Personal Information</h1><br><br>
    <%= f.label "First Name" %>
    <%= f.text_field :first_name ,class:"form-control", id: "form_fname", placeholder:"First Name *" %>
    <span class="error_form" id="fname_error_message"></span>
    <%= f.label "Last Name" %>
      <%= f.text_field :last_name,  class:"form-control", id:"form_uname", placeholder:"User Name *"%>  
      <span class="error_form" id="uname_error_message"></span>
      <%= f.label "Email" %>
      <%= f.text_field :email, class:"form-control", id: "form_email", placeholder:"Your Eamil *"%> 
      <span class="error_form" id="email_error_message"></span> 
      <%= f.label "Company Name" %>
      <%= f.text_field :company , class:"form-control", id:"form_cname", placeholder:"Company Name *"%>
      <%= f.label "About me"%>
      <%= f.text_area :about_me, class:"form-control", placeholder:"Brief details about me",:rows => 4 %>
      <%= f.label "Profile Picture" %><br>
      <%= f.file_field :profile_photo %>
    </div>
    <div class="col-md-6 ">
    <h1 class="profile-title">Contact Information</h1><br><br>
    <%= f.label "Phone Number" %>
    <%= f.text_field :phone_number , class:"form-control", id:"form_pnumber", placeholder:"Phone Number *" %>
    </div>
    <%= f.submit "Save", class:"btn btn-dark show-btn"%>
  </div>
  <% end %>
</div>        