<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container register">
                <div class="row">
                    <div class="col-md-5 register-left">
                        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                        <h3>Welcome</h3>
                        <p>You are 30 seconds away from earning your own money!</p>
                        <%= link_to 'Login', login_path, class:"btn btn-outline-success" %>
                        <br/>
                    </div>
                    <div class="register-right">

                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading"> HootCard Sign Up</h3>
                                <div class="row register-form">
                                    
                                      <%= form_with(model: @user, id:"registration") do |f| %>
                                        <div class="row my-form">
                                            <div class="col-md-10 form-group">
                                                <%= f.text_field :user_name,  class:"form-control", placeholder:"User Name *" , required: true%>  
                                            </div><br>
                                            <div class="col-md-10 form-group">
                                                <%= f.text_field :email, class:"form-control", placeholder:"Your Eamil *" , required: true%>   
                                            </div><br>
                                            <div class="col-5 form-group">
                                                <%= f.password_field :password, class:"form-control", placeholder:"Password *" , required: true%> 
                                            </div><br>
                                            <div class="col-5 form-group">
                                                <%= f.password_field :password_confirmation ,class:"form-control", placeholder:"Confirm Password *" , required: true%>         
                                            </div>                            
                                            <div class="col-5 form-group">
                                                <%= f.text_field :first_name ,class:"form-control", placeholder:"First Name *" , required: true%>
                                            </div>
                                            <div class="col-5 form-group">
                                                <%= f.text_field :last_name,  class:"form-control", placeholder:" Last Name *" , required: true%>
                                            </div>
                                            <div class="col-5 form-group">
                                                <%= f.text_field :phone_number , class:"form-control", placeholder:"Phone Number *" , required: true%>
                                            </div>
                                            <div class="col-5 form-group">
                                                <%= f.text_field :company , class:"form-control", placeholder:"Company Name *" , required: true%>
                                            </div><br>
                                            <div class=" col-6 form-group">                                                                                 
                                                <%= f.check_box :news_letter, class: "check_box_size" , required: true%>
                                                <%= f.label "Subscribe to our Newsletter", class:"label-class" %> 
                                            </div>                                           
                                                <%= f.submit "Register", class:"btnRegister"%>
                                            
                                            <% end %>
                                        </div>
                                </div>                                        
                            </div>
                        </div>
                    </div>
                    </div>
                    </div>